@import url('https://googleapis.com');

#profile .row {
    text-align: center;
    /* ให้ข้อความอยู่ตรงกลาง */
    padding: 4rem 1rem;
    /* อันแรกคือแกนแนว y อันที่สองคือแกนแนว x */
    background-color: #e0f2fe;
    color: rgb(35, 34, 34);
}

body {
    font-family: 'Outfit', 'Kanit', sans-serif;
}

.responsive-border {
    border-top: 2px solid var(--bs-border-color-translucent);
    padding-top: 1rem;
}

.nav-link {
    border-bottom: #1f2d4e solid 2px;
}

@media (min-width: 576px) {
    .responsive-border {
        border-top: none;
        border-left: 2px solid var(--bs-border-color-translucent);
        padding-top: 0;
        padding-left: 1.5rem;
    }
}

@media (min-width:991px){
    .nav-link {
        border-bottom: none; 
    }
}

footer {
    bottom: 0;
    background-color: #0f172a;
}

footer h2 {
    font-size: 30px;
    font-weight: bold;
}